/* @media screen and (max-width: 640px) and (max-width: 768px){
    .item-1{
    font-size: 50px;
}
} */

body {
    background-color: #151937;
    color: white;
}

.text-gradian {
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;
}

.button-grdian {
    background: linear-gradient(to right, red, blue);
    border-radius: 25px;
    padding: 1rem 3rem;
    cursor: pointer;
}
